html, body {
    height: 80%;
    width:100%;
}
.container{
	width: 100%;
	height: 100%;
}

.main{
	align-content: center;
}

.centered{
	text-align: center;
}

.filled{
	align-content: center;
	vertical-align: center;
	width: 100%;
	height: 60px;
}

.row {
    padding-top: 1em;
    padding-bottom: 1em;
}


.image{
	width:50%;
	height: 50%;
}