html, body {
    height: 100%;
    width:100%;
}
.container{
	width: 100%;
	height: 100%;
}

.main{
	align-content: center;
	vertical-align: middle;
}

.centered{
	text-align: center;
}

.filled{
	align-content: center;
	vertical-align: center;
	width: 100%;
	height: 20%;
}

.row {
    padding-top: 1em;
    padding-bottom: 1em;
}